services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    working_dir: /app/backend
    command: python -m backend.app
    ports:
      - "4420:4420"
    restart: always
